.env
.env.development
.env.production

.venv/
.vscode/
**/__pycache__/
**/migrations/

db.sqlite3
picto_db.sql

script.py

venv.bat
novenv.bat

install-r.bat
freeze.bat

makemigrations.bat
migrate.bat

runserver.bat
