<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restablecer contraseña</title>
  <style>
    img {
      margin: 10px;
      max-width: 50%;
      text-align: center;
    }

    h2 {
      text-align: center;
    }

    .link {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <img src="cid:logo.png" alt="Logo de PICTO">

  <h2>Restablecer contraseña</h2>

  {% if user_name %}
  <p>Estimado(a) {{ user_name }}:</p>
  {% else %}
  <p>Estimado(a) {{ user_email }}:</p>
  {% endif %}

  <br><br>

  <p>Hemos recibido una petición para restablecer tu contraseña.</p>
  <p>Por favor, haz clic en el link debajo para restablecer tu contraseña:</p>

  <br><br>

  <p><a href="{{ reset_password_url }}">Restablecer contraseña</a></p>

  <br><br>

  <p>Atentamente,</p>
  <p>El equipo de PICTO.</p>
</body>
</html>
